.transparent-10 {
    background-color: rgba(0, 0, 0, 0.1);
}

.transparent-20 {
    background-color: rgba(0, 0, 0, 0.2);
}

.transparent-30 {
    background-color: rgba(0, 0, 0, 0.3);
}

.transparent-40 {
    background-color: rgba(0, 0, 0, 0.4);
}

.transparent-50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.transparent-60 {
    background-color: rgba(0, 0, 0, 0.6);
}

.transparent-70 {
    background-color: rgba(0, 0, 0, 0.7);
}

.transparent-80 {
    background-color: rgba(0, 0, 0, 0.8);
}

.transparent-90 {
    background-color: rgba(0, 0, 0, 0.9);
}

.round-edges {
    border-radius: 2rem;
}

.readabily-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.4);
}

.shadow-text {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.stroke-text {
    color: white;
    -webkit-text-stroke: 1px black;
}

.small-logo {
    width: 50px;
    height: auto;
}

.btn-custom {
    background-color: #018b32;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #13bb5f;
    color: white;
}

/* 
.framed-logo {
    background: #1a1a1a;
    border-radius: 16px;
    padding: 12px;
    box-shadow:
        0 4px 20px rgba(0, 255, 130, 0.2),
        0 0 0 2px rgba(255, 255, 255, 0.05) inset;
} */

.framed-logo {
    padding: 16px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #0a0a0a, #1a1a1a);
    box-shadow:
        0 0 20px rgba(0, 255, 130, 0.4),
        inset 0 0 10px rgba(0, 255, 130, 0.1);
    border: 2px solid rgba(0, 255, 130, 0.3);
}

.shadow-hover {
    transition: box-shadow 0.3s ease;
}

.shadow-hover:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.image-card {
    box-shadow: 0 0px 5px rgba(71, 71, 71, .2);
    background-color: --var(--bg-color);
    height: 300px;
    width: auto;
    transition: box-shadow 0.3s ease;
    padding: 10px 10px 10px 10px;
    filter: grayscale(40%);
}

.image-card:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    filter: grayscale(0);
    transition: filter 0.3s ease;
}

.card-img-custom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.invert-img {
    filter: invert(100%);
}

.invert-img:hover {
    filter: invert(0%);
    transition: filter 0.3s ease;
}

#serhotels>img {
    background-color: #1a1a1a;
    padding: 10px 10px 10px 10px;
}

.logo-grey {
    box-shadow: 0 0px 5px rgba(71, 71, 71, .2);
    background-color: --var(--bg-color);
}